body{
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;

	--line-height:40px;
	--border-radius:2px;

	&.version-6-9, &.version-6-8, &.version-6-7, &.version-6-6{
		--line-height:30px;
		--border-radius:4px;
	}
}

.hidden{display:none;}

.green{color:green;}

.red{color:red;}

.direction-column{
	display:inline-flex;
	flex-direction:column;
	gap:6px;

	&.hidden{display:none;}
}

.direction-row{
	display:inline-flex;
	flex-wrap:wrap;
	align-items:center;
	gap:6px 10px;
	line-height:var(--line-height);

	&.hidden{display:none;}
}

.wrap-text,
.widefat td{
	overflow-wrap:break-word;
	word-break:break-all;
	hyphens:auto;
}

.truncate-text,
table.nowrap td,
table td.nowrap{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;

	.query-label &{
		background:#e5e5e5;
	}

	&:is(.truncate-text){
		display:inline-block;
		width:100%;
	}

	&:hover{
		white-space:wrap;
		transition:all 0.4s ease;
		overflow:visible;
		width:max-content;
		max-width:fit-content;

		.query-label &, &:is(td){
			white-space:nowrap;
		}
	}
}

[data-highlight="add"]:nth-child(odd){
	background-color: #ffffeecc !important;
}

[data-highlight="add"]:nth-child(even){
	background-color: #ffffddcc !important;
}

[data-highlight="update"]{
	background-color: #ffffeecc !important;
}

[data-highlight="move"]{
	background-color: #eeffeecc !important;
}

[data-highlight="delete"]{
	background-color: #ff0000cc !important;
}

.wp-menu-image[class*=" ri-"]:before{
	display:inline-block;
	line-height:1;
	font-size:20px;
}

.wrap{
	.wp-heading-inline{
		display:inline-block;
		margin-right:5px;
	}

	form#wpjam_option{
		> h3:only-of-type, > h2:only-of-type{display: none;}
	}

	.nav-tab-wrapper:has(> a:only-child){
		&, & + h2{display: none;}
	}
}

.notice p a{
	text-decoration:none;

	.dashicons{
		height:16px;
		font-size:16px;
		line-height:18px;
	}
}

p.submit{
	.spinner{
		float:none;
		margin:0 10px 0 -10px;
	}

	.button{
		margin-right:20px;

		&:last-child{margin-right:0;}
	}
}

a.wpjam-button{text-decoration:none;}

div.summary{margin:1em 0;}

[data-tooltip],
[data-description]{
	cursor:pointer;
	vertical-align:text-bottom;

	&:has([popover]){
		anchor-name:--tooltip-anchor;

		[popover]{
			position-anchor:--tooltip-anchor;
			position-area:bottom span-all;
			position-try-fallbacks:flip-block, flip-inline;
			cursor:initial;
			font-size:13px;
			background-color:#333;
			color:#fff;
			margin:10px;
			padding:6px 10px 8px;
			border-radius:6px;
			border:none;
			max-width:min(80vw, 300px);
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
		}
	}
}

.wpjam-lightbox{
	border:none;
	overflow:visible;
	background:#fff;
	padding:0;
	background:transparent;

	&::backdrop{background:rgba(0,0,0,0.8);}

	
	&:has(div){
		display:flex;
		align-items:center;
		gap:10px;
	}

	div{
		position:relative;
	}

	a{
		width:32px;
		height:32px;
		font-size:32px;
		color:#FFFFFF;
		opacity:0.5;
	}

	img{
		padding:20px;
		background:#FFFFFF;
		zoom:0.5;
		max-width:160vw;
		max-height:160vh;
		object-fit:contain;
	}
}

.wpjam-dialog{
	padding:0;
	border:none;
	overflow:visible;

	&::backdrop{background:rgba(0,0,0,0.7);}

	.title{
		display:flex;
		justify-content:space-between;
		border-bottom:1px solid #ddd;

		h2{
			line-height:40px;
			margin:0;
			padding:0 20px;
		}
	
		button{
			all:unset;
			margin:0 -32px 0 0;

			@media (max-width:782px){margin:-70px 0 0 0;}

			&:before{
				font:normal 20px / 29px dashicons;
				content:"\f335";
				font-size:32px;
				cursor:pointer;
				color:#fff;
			}
		}
	}

	.content{
		background:#f1f1f1;
		padding:5px 25px;
		max-height:80vh;
		overflow-y:auto;

		.notice{margin:5px 0 2px;}

		table.form-table > tbody > tr{
			> th{
				width:110px;
				min-width:80px;

				@media (max-width:782px){width:inherit;}
			}

			> td{
				min-width:240px;

				.after, .description{padding:0;}
			}
		}
	}
}

.wpjam-loading{
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: #E8E8E8;
	border: 1px solid #555;
	margin: -40px 0 0 -125px;
	padding: 35px 25px 25px;
	z-index: 9999;
	
	img{
		width:208px;
		height:13px;
	}
}

.components-wpjam-media-control{
	&:has(img){
		position: relative;

		&:hover{
			.components-flex{
				opacity:1;
			}
		}

		.components-flex{
			gap:0;
			justify-content:space-evenly;
			position:absolute;
			bottom:10px;
			opacity:0;
			transition:opacity 0.4s;

			button{
				backdrop-filter:blur(16px) saturate(180%);
				background:#ffffffbf !important;
			}
		}
	}
}

button.components-button.del-img{
	min-width:20px !important;
	width:20px;
	height:20px;
	box-shadow:none;
	color:#fff !important;
}

.components-wpjam-select-control{
	max-width:100%;

	.components-dropdown{
		max-width:100%;
	
		button{
			color:#1e1e1e;
			border:1px solid #949494;
			font-weight:normal;
			max-width:100%;
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
		}

		button:hover{
			color:#1e1e1e;
		}

		button:focus:not(:active){
			box-shadow:none;
		}
	}
}

.components-wpjam-select-popover{
	.components-popover__content > .components-flex{
		min-width:240px;
		padding:8px 4px;
	}
}

.components-wpjam-color-control{
	.components-dropdown .components-button{
		box-shadow:none;
		gap:4px;
	}
}

.components-modal__content fieldset [class*="-control__label"]{
	font-size: revert;
	font-weight: revert;
}

.components-modal__content [class*="-control__label"]{
	font-size: 14px;
	font-weight: 500;
}

.wide-text{
	width:40em;

	@media (max-width:782px){width:99%;}
}

span.all-options{width:250px;}
span.large-text{width:99%;}
span.small-text{width:50px;}
span.tiny-text{width:35px;}

input.medium-text{width:105px;}
input.compact-text{width:85px;}

input[type=number]{padding-right:0;}

input[type=checkbox]:indeterminate{
	display:inline-grid;
	place-items:center;

	&:before{
		content:'';
		border:1px solid grey;
		width:55%;
	}
}

.button.switch,
input[type=checkbox].switch{
	display:inline-flex;
	cursor:pointer;
	width:32px;
	height:16px;
	border:0;
	border-radius:8px;
	background-color:#a7aaad;

	&:is(input[type=checkbox]){
		appearance:none;
		box-shadow:none;
	}

	&.button{
		min-height:initial;
		padding:initial;
	}

	&:checked, &.checked{
		justify-content:flex-end;
		background-color:#2271b1;
	}

	&:before{
		content:'';
		width:12px;
		height:12px;
		margin:2px;
		border-radius:50%;
		background-color:#ffffff;
	}
}

.expandable{
	field-sizing:content;

	&:is(input){
		min-width:36px;
		width:unset !important;

		&.regular-text{min-width:25em;}
		&.small-text{min-width:50px;}
	}

	&:is(textarea){
		min-height:6em;
		max-height:24em;
	}
}

.expandable-container{
	display:flex;
	flex-direction:column-reverse;
	align-items:flex-start;

	input[type=checkbox]{
		box-shadow:none;
		width:auto;
		padding:0px 10px !important;

        &:before{
			font-family:remixicon;
			content:"展开\f2e0";
		}

		+ .inner{
			max-height:12em;
			margin-bottom:1em;
			overflow:hidden;

			.row-actions{display:none;}
		}

		&:checked{
			&:before{
				width:auto;
				margin:initial;
				content:"收起\f2ea";
			}

			+ .inner{
				max-height:none;
				margin-bottom:0;

				.row-actions{display:initial;}
			}
		}
	}
}

.wp-picker-container{
	.wp-picker-clear{min-height:30px;}

	.wp-color-result-text{color:inherit;}

	.wp-color-picker{
		margin:0 2px;

		&[data-alpha-enabled]{
			width:5rem;

			@media (max-width:782px){width:6.4rem;}
		}
	}

	&:has([data-alpha-enabled]){
		--bg:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAAHnlligAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHJJREFUeNpi+P///4EDBxiAGMgCCCAGFB5AADGCRBgYDh48CCRZIJS9vT2QBAggFBkmBiSAogxFBiCAoHogAKIKAlBUYTELAiAmEtABEECk20G6BOmuIl0CIMBQ/IEMkO0myiSSraaaBhZcbkUOs0HuBwDplz5uFJ3Z4gAAAABJRU5ErkJggg==);

		.iris-picker{
			.iris-picker-inner{
				display:flex;
				justify-content:space-between;
			}

			.iris-square{
				margin-right:1.5%;
			}

			.iris-slider:last-child{
				background:linear-gradient(to bottom, rgb(from var(--color) r g b / 100%), rgb(from var(--color) r g b / 0%)), var(--bg) !important;
			}
		}

		button{
			background:linear-gradient(var(--color), var(--color)), var(--bg) !important;
		}
	}

	.form-table & > label{
		line-height:30px !important;
		margin:0 !important;
	}
}

form.chart-form{
	margin:1em 0;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	gap:10px;
}

div.donut-chart-wrap{
	display:flex;
	gap:40px;
	margin-bottom:20px;

	table{
		width:initial;
		border:none;
		background:none;

		thead th{border:none;}
	}
}

.sub-field{
	margin-bottom:0.8em;
	line-height:var(--line-height);

	.sub-field{margin-bottom:0;}

	> label{
		min-width:76px;
		padding-right:4px;
		font-weight:500;
		display:table-cell;
		vertical-align:top;
	}

	> :nth-child(2){
		max-width:calc(100% - 80px);
		display:table-cell;

		label{line-height:1;}
	}
}

.field-group{
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
	gap:6px;

	.sub-field:not(:first-child) > label{min-width:initial;}
}

fieldset{
	> .field-group, > .inline{
		margin:0 0 .5em !important;

		&.hidden{display:none;}
	}

	> .field-group{
		display:inline-flex;
	}

	> .field-group:has(> label) > *{
		margin:.35em 0 .5em !important;
	}

	> .field-group, &.mu-item.field-group{
		> label{line-height:30px !important;}

		&:is(.mu-item) > *{margin:0 !important;}
	}

	> .inline{
		display:inline-block;
		line-height:1.4;

		> label{margin-top:0 !important;}
	}

	details{
		summary{cursor:pointer;}

		&[open] summary{margin-bottom:20px;}
	}
}

span.query-label,
span.tag-label{
	display:inline-flex;
	align-items:center;
	vertical-align:middle;
	box-sizing:border-box;
	background:#e5e5e5;
	padding:0 8px;
	border-radius:var(--border-radius);
	line-height:var(--line-height);
}

span.query-label{
	span.dashicons{
		margin-right:4px;
		font-weight:100;
		cursor:pointer;
		color:#0073aa;

		&:before{content:"\f153";}
	}

	+ input, ~ .description{display:none !important;}
}

span.tag-label{
	padding:0 4px 0 8px;
	cursor:move;

	.del-item{margin-left:4px;}

	~ *{display:none;}
}

label.image-radio{
	display:inline-flex !important;
	flex-direction:column;
	input{
		&, + img + img{display:none;}

		~ img{
			max-width:120px !important;
			cursor:pointer;
			opacity:75%;
		}

		&:checked{
			+ img{
				display:none;
				box-shadow:0 0 10px;
			}

			+ img:last-of-type{
				display:initial;
				opacity:100%;
			}
		}
	}

	[popover]{
		left:var(--wpjam-left);
		top:var(--wpjam-top);
		border:0;
		margin:0;
		padding:0;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

		img{zoom:0.5;}
	}
}

.wpjam-cascade{
	display:inline-flex;
	gap:6px;
}

.wpjam-uploader{
	display:inline-flex;
	justify-content:flex-start;
	align-items:center;

	.button{
		margin-right:6px;
	}

	&:has(div.progress) .button{
		display:none;
	}

	div.progress{
		margin:0 6px;
	}

	&.drag-drop{
		border:4px dashed #c3c4c7;
		height:200px;
		width:98%;
		display:grid;
		align-content:center;
		text-align:center;
		justify-content:stretch;
		gap:10px;

		.media-item{
			display:inline-block;
		}

		.drag-drop-info{
			font-size:20px;
		}
	}
}

.wpjam-file,
.wpjam-image{
	display:inline-flex;
	gap:4px;
}

.wpjam-img{
	position:relative;
	cursor:pointer;
	text-decoration:none;
	width:fit-content;

	img{
		max-width:240px !important;
		max-height:240px !important;
		object-fit:cover;
	}

	img ~ .add-media,
	&:has(img) ~ .description{display:none;}
}

.wpjam-file,
.wpjam-image,
.wpjam-img{
	.add-media{
		display:inline-flex;
		align-items:center;
		gap:4px;
	}

	.button.add-media{
		span, span:before{line-height:1;}
	}
}

.mu-img .del-item,
.del-img,
.del-img:hover,
.del-icon{
	position:absolute;
	outline:none;
	padding:0;
	border:0;
	line-height:1;
	top:-10px;
	right:-10px;
	border-radius:10px;
	color:#ffffff;
	background:#cc3333;
	text-decoration:none;
	opacity:0.8 !important;
	cursor:pointer;
}

.readonly, .disabled{
	.mu-item:last-child, .button, .dashicons{display:none !important;}
}

.mu-item{
	> .button{
		margin:0 6px;

		&.del-item:before{content:"删除";}
	}

	> .new-item ~ .del-item{display:none;}

	.direction-row > &{
		> .move-item{
			font-size:20px;
			width:20px;
			height:20px;
			margin-right:2px;
		}

		.del-item:before{cursor:pointer;}
	}

	&.drag-from{
		opacity:0.7;
		background: #eee;
	}

	&.drag-to{
		opacity:0.5;
		background: #eee;
	}

	> .move-item,
	> .components-flex > .components-flex > .move-item{
		opacity:0.2;
		cursor:move;
		width:30px;
		height:30px;
		font-size:30px;
	}

	&:hover > .move-item,
	&:hover > .components-flex > .components-flex > .move-item{
		opacity:0.8 !important;
	}

	&:has(> .new-item) > .move-item{display:none;}

	div.mu-text > &,
	div.mu-image > &,
	div.mu-file > &{
		display:flex;
		align-items:center;
	}

	div.mu-text > &.mu-item.components-flex{
		cursor:move;
		background: #ddd;
		padding: 4px 8px;
	}
}

div.mu-text{
	&[data-rest="0"]:not(:has(.tag-input)) > .mu-item:last-child{
		input, select{display:none;}

		.button{margin-left:0px;}
	}

	&.direction-row{
		gap:8px 4px;
		min-width:400px;
		max-width:700px;

		> .mu-item{
			&:last-child input{display:none;}

			input{
				padding-right:20px !important;

				+ .del-item{
					padding:0;
					border:0;
					margin-left:-24px;
					margin-right:4px;
				}

				+ .button{margin-left:0px;}
			}
		}
	}

	&:has(.tag-input){
		display:inline-flex;
		flex-wrap:wrap;
		align-items:center;
		gap:4px;
		padding:0 4px;
		border-radius:var(--border-radius);
		box-shadow:0 0 0 transparent;
		border:1px solid #8c8f94;
		margin-top:-1px;
		margin-bottom:-1px;
		background-color:#fff;
		color:#2c3338;

		&:hover{
			border-color:#2271b1;
			box-shadow:0 0 0 1px #2271b1;
			outline:2px solid transparent;
		}

		span.query-label{
			flex-direction:row-reverse;
			line-height:calc(var(--line-height) - 10px);
			padding:0 4px 0 8px;
			border-radius:1px;

			span.dashicons{
				margin-right:0;
				margin-left:2px;

				&:before{content:"\f335";}
			}
		}
	}

	input.tag-input{
		&, &:focus{
			border:0;
			box-shadow:none;
			padding:0;
			outline:0;
		}
	}

	span.query-label{
		cursor:move;

		~ *{display:none;}
	}
}

div.mu-fields{
	> .mu-item > .button{
		margin-left:80px;

		&.new-item,
		fieldset.mu-item > &,
		.field-group.mu-item &{margin:0;}
	}

	&[data-tag_label] > .mu-item{
		> .del-item, > .move-item, &:last-child{display:none;}
	}

	&.direction-column > .mu-item{
		padding-bottom:6px;

		&:not(.field-group){border-bottom:1px solid #E5E5E5;}

		&:last-child{border-bottom:none;}
	}
}

div.mu-img{
	max-width:720px;

	> .mu-item{
		width:100px;
		height:100px;
		margin:10px 10px 10px 0;
		position:relative;
		cursor:move;

		img{
			width:100px;
			height:100px !important;
			object-fit:cover;
		}
	}

	.new-item{
		width:100px;
		height:100px;
		margin:0;
		color:#ccc;
		border:2px solid #ccc;
		border-radius:8px;
		position:relative;

		&:before{
			content:"\f543";
			display:block;
			line-height:100px;
			font-family:dashicons;
			font-size:32px;
			text-align:center;
		}

		button{
			position:absolute;
			top:2px;
			right:2px;
			min-width:0;
			padding:0;
			color:#ccc;

			&:hover{color:#0073aa;}
		}
	}
}

@position-try --mu-select-overflow{
	bottom:10px;
	top:auto;
}

div.mu-select{
	display:inline-block;

	fieldset{
		top: calc(anchor(top) - 1px);
		left: calc(anchor(left) - 2px);
		position-try-fallbacks:--mu-select-overflow;
		overflow-y:scroll;
		background-color:#f0f0f0;
		border:1px solid #ccc;
		box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius:6px;
		max-height:min(calc(100vh - 100px), 300px);
		padding:4px;
		gap:0;

		&:not(:popover-open){display:none;}

		label{
			white-space:nowrap;
			padding:4px 10px;

			&:hover{
				border-radius:3px;
				background:#4488FF;
				color:#FFFFFF;
			}
		}
	}

	button{
		cursor:pointer;
		text-align:left;
		color:#2c3338;
		border:1px solid #8c8f94;
		border-radius:3px;
		padding:0 12px;
		min-height:var(--line-height);
		background:#fff;

		&:after{
			content:"\f347";
			display:inline-block;
			width:16px;
			height:16px;
			margin-left:10px;
			font-size:16px;
			font-family:dashicons;
			vertical-align:middle;
		}

		&:focus, &:hover{
			border-color:#2271b1;
			color:#0a4b78;
			box-shadow:0 0 0 1px #2271b1;
		}
	}
}

form table.form-table{
	tr > td:only-child{padding:15px 10px 15px 0;}

	th a, td a{text-decoration:none;}

	td{
		.before{
			margin:0px;

			p&{
				margin:0 0 4px 0;
			}

			span&{
				margin:0 4px 0 0;
			}
		}

		.after{
			margin:0px;

			p&{
				margin:4px 0 0 0;
			}

			span&{
				margin:0 0 0 4px;
			}
		}

		.description{font-size:13px;}

		fieldset{
			label.hidden{display:none}

			.after, .description{margin-bottom:0.5em;}
		}

		select{field-sizing:content;}

		label:has(input:not([type=hidden]):not(.regular-text):not([type=checkbox])) + .description,
		input:not([type=hidden]):not(.regular-text) + .description{
			display:inline-block;
			margin-left:6px;
		}
	}
}

table.wp-list-table{
	&.striped > tbody > :nth-child(even){background-color:#ffffff;}

	th{
		white-space:nowrap;
		a{display:inline-flex;}

		&.sortable,
		&.sorted{
			&:has(i){
				a{padding-right:0px;}
				i{padding-right:4px;}
			}
		}

		&.check-column{
			.dashicons{
				margin-left:6px;
				color:#999;
				font-size:16px;
				width:16px;
				height:16px;
			}

			.spinner{
				margin:4px 0 0 0;

				+ input{display:none;}
			}

			.pending &{
				border-left:4px solid #0073aa;

				input{margin-left:4px;}
			}

			.unapproved &{
				border-left:4px solid #d63638;

				input{margin-left:4px;}
			}

			.rejected &{
				border-left:4px solid #aa0000;

				input{margin-left:4px;}
			}
		}

		&.column-no{width:42px;}
	}

	.pending{
		th, td{background-color:#f0f6fc;}
	}

	.unapproved{
		th, td{background-color:#fcf9e8;}
	}

	.approve a, .audit a, .publish a{color:#007017;}

	.unapprove a, .unpublish a{color:#996800;}

	.dashicons, .dashicons-before:before, [class*=" ri-"], [class^=ri-]{
		width:16px;
		height:16px;
		font-size:16px;
	}

	td pre{
		white-space:pre-wrap;
		max-width:800px;
		margin-top:0;
	}

	td img.alignleft{
		margin-right:10px;
		margin-top:1px;
	}

	.ui-sortable-handle{
		cursor:move;
	}

	.ui-sortable-helper{
		background-color:#eeffffcc;
	}

	tbody tr{
		&:nth-child(1 of tr:has(span.move)) span.up,
		&:nth-last-child(1 of tr:has(span.move)) span.down,
		&:nth-child(1 of tr:has(span.move)):nth-last-child(1 of tr:has(span.move)) span.move,
		&:first-of-type span.up,
		&:last-of-type span.down,
		&:only-of-type span.move{display:none;}
	}

	&.sticky-columns{
		display:block;
		max-height:min(var(--left-height, calc(100vh - 160px)), calc(100vh - 160px));
		overflow:scroll;

		.sticky-column{
			position:sticky;
			z-index:2;
			background-color:inherit;
		}

		thead, tfoot{
			position:sticky;
			z-index:3;
			top:0;

			tr{background:#ffffff;}
		}

		tfoot{bottom:0px;}

		tr.summary-row{
			position:sticky;
			z-index:3;
			top:36px;
		}
	}

	.wpjam-thumbnail-wrap{
		position:relative;

		&:focus{
			outline:0;
			box-shadow:none;
		}

		img, .no-thumbnail{
			float:left;
			margin:0px 10px 10px 0;
			border-radius:4px;
			border:1px solid #eee;
		}

		.no-thumbnail{
			display:inline-block;
			text-align:center;
			font-size:12px;
			font-weight:100;
			width:50px;
			height:50px;
			line-height:50px;
			background:#eee;
			color:#555;
		}

		&[data-action]:hover:after{
			content:"\f464";
			font-size:16px;
			font-family:dashicons;
			padding:2px;
			line-height:1;
			top:-4px;
			right:6px;
			position:absolute;
			border-radius:10px;
			color:#fff;
			background:#2271b1;
			opacity:0.8;
		}
	}

	div.items{
		.item{display:flex;}

		.row-actions > span:not(:last-child){margin:0 3px;}

		&.image-list{
			display:grid;
			grid-template-columns:repeat(var(--per-row, 4), auto);
			justify-content:start;

			.item{
				width:var(--width, 100px);
				flex-direction:column;
				margin:10px 30px 20px 0;
				position:relative;
				text-align:center;
				font-size:smaller;
			}

			.add-item{
				height:var(--height, 100px);
				margin:10px 0px 20px 0;
				background:#f9f9f966;
				border-radius:4px;
				border:1px solid #ccc;
				box-sizing:border-box;
				display:grid;
				place-items:center;

				> .dashicons-plus-alt2{
					font-size:24px;
					width:24px;
					height:24px;
					color:#ccc;
				}

				.striped > tbody > :nth-child(odd) &{background:#ffffff66;}
			}
		}

		&.text-list .item{
			margin-bottom:10px;
			max-width:400px;

			> a{
				display:inline-block;
				width:150px;
				margin-right:10px;
				vertical-align:middle;
			}

			a.del-icon{
				top:inherit;
				right:inherit;
			}
		}
	}

	div.news-items{
		width:360px;
		box-shadow:1px 1px 10px #CCC;
		border-radius:4px;
		margin-bottom:10px;

		div.news-item:first-child:nth-last-child(1){
			position:inherit;
			padding-bottom:12px;

			span.news-item-title{
				color:inherit;
				background:inherit;
				position:inherit;
				display:block;
			}
		}

		div.big{
			position:relative;

			span.news-item-title{
				font-size:16px;
				color:#fff;
				padding:12px;
				box-sizing:border-box;
				width:100%;
				bottom:0;
				left:0;
				background:linear-gradient(180deg,transparent,rgba(0,0,0,.6));
				position:absolute;
			}

			span.news-item-excerpt{
				display:block;
				box-sizing:border-box;
				width:100%;
				padding:12px;
			}

			span.item-thumb{
				width:360px;
				height:150px;
				overflow:hidden;

				img{border-radius:4px;}
			}
		}

		div.small{
			padding:12px 12px 0 12px;
			display:flex;
			flex-direction:row-reverse;
			justify-content:space-between;
			width:100%;
			box-sizing:border-box;

			span.news-item-title{
				width:260px;
				height:60px;
				display:flex;
				align-items:center;
				padding-bottom:12px;
				font-size:14px;
				border-bottom:1px solid #DDD;

				div.small:last-child &{border-bottom:0;}
			}

			span.item-thumb{
				width:60px;
				height:60px;
				overflow:hidden;
			}
		}
	}

	@media(min-width:783px){
		.row-action{
			td &{display:none;}

			td:hover &{display:initial;}
		}
	}
}

.tablenav{
	&.top:has(.actions){
		height:auto;
		margin:0;
	}

	.actions{
		> *{
			float:left;
			margin:0 6px 8px 0;
		}

		> .overall-action{margin:0 10px 8px 0px;}

		&:not(.alignleft) > #filter_action{margin-right:16px;}

		.direction-row{
			gap:6px;

			select{
				float:none;
				margin-right:0;
			}
		}
	}

	.prev-day, .next-day{
		font-size:16px;
		line-height:1.625;
		color:initial;
		border-color:#8c8f94;
	}
}

input.current-page{
	padding:0 8px;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button{
		-webkit-appearance:none;
		margin:0;
	}
}

.layout-calendar{
	.tablenav.top{text-align:center;}

	.tablenav-pages a.current-month{
		padding-left:20px;
		padding-right:20px;
	}

	h2{
		font-size:2em;
		display:inline-block;
		margin:0 0 10px 0;
		line-height:30px;
	}

	table{
		width:100%;
		margin:20px 0;

		&.striped > tbody > tr{background-color:#ffffff;}

		.column-day0, .column-day6{background:#f6f7f7;}

		a{text-decoration:none;}

		th{
			font-size:larger;
			font-weight:bold;
		}

		td, th{
			border-right:1px solid #c3c4c7;
			border-bottom:1px solid #c3c4c7;
		}

		td:last-child, th:last-child{border-right:none;}

		tfoot th{border-bottom:none;}

		td{
			.date-meta{min-height:24px;}

			span.day{
				display:inline-block;
				width:20px;
				height:20px;
				line-height:20px;
				text-align:center;

				&.today{
					color:#fff;
					border-radius:10px;
					background:red;
				}
			}

			a.list-table-action{
				display:none;

				td:hover &{display:inline-block;}
			}
		}
	}
}

div#col-left{
	.tablenav .tablenav-pages{float:none;}

	.left-item{
		cursor:pointer;

		&.left-current{
			background-color:#f0f6fc;
			color:#3c434a;
		}
	}

	span.left-pagination-links{
		display:flex;
		gap:4px;
		align-items:center;
	}

	td{
		padding-left:14px;
		padding-right:20px;

		a:focus{box-shadow:inherit;}

		span.time{font-size:smaller;}

		span.count{
			font-size:smaller;
			float:right;
			padding:2px 4px;
			margin-left:4px;
		}
	}

	@media(min-width:783px){
		&:has(table){width:25%;}

		&:has(table) ~ #col-right{width:75%}
	}
}

div.tabs .nav-tab-wrapper{
	ul, li{margin:0;}

	li > a:focus{box-shadow:none;}

	li.ui-tabs-active > a{
		border-bottom:1px solid #f0f0f1;
		box-shadow:none;
		margin-bottom:-1px;
		background:none !important;
		color:#000;
	}

	li.ui-state-hover > a{
		background-color:#fff;
		color:#3c434a;
	}
}

div#poststuff{
	#normal-sortables{min-height:0;}

	div#postexcerpt div.inside p{display:none;}

	div.postbox{
		table.form-table{
			th{
				padding:12px 10px 12px 0;
				width:120px;
			}

			td{padding:6px;}
		}

		&.tabs table.form-table th{width:100px;}
	}
}

.welcome-panel.wpjam-welcome-panel{
	background:#fff;

	h2{font-size:32px;}
}

@media screen and (max-width:782px){
	input.hidden{display:none !important;}
}

@media screen and (min-width:783px){
	#adminmenu{
		.awaiting-mod, .update-plugins{
			line-height:18px;
			transform:scale(0.92);
		}
	}

	.post-com-count-pending{
		line-height:20px !important;
		height:20px !important;
		left:-6px !important;
		border-radius:12px !important;
		min-width:10px !important;
		transform:scale(0.833333);
	}

	div.wrap:has(p.search-box) ul.subsubsub{
		max-width:calc(100% - 280px);
	}
}
