.hidden{display:none;}

.nowrap-text{
	white-space:nowrap;
	word-wrap:normal;
	overflow-wrap:normal;
}

.green{color:green;}

.red{color:red;}

.direction-column{
	display:inline-flex;
	flex-direction:column;
	gap:6px;
}

.direction-row{
	display:inline-flex;
	flex-wrap:wrap;
	align-items:center;
	gap:6px 10px;

	@media (max-width:782px){line-height:40px;}
}

.ui-autocomplete{z-index:1000000 !important;}

.wp-menu-image[class*=" ri-"]:before{
	display:inline-block;
	line-height:1;
	font-size:20px;
}

.wrap .wp-heading-inline{
	display:inline-block;
	margin-right:5px;
}

.notice p a{
	text-decoration:none;

	.dashicons{
		height:16px;
		font-size:16px;
		line-height:18px;
	}
}

p.submit{
	.spinner{
		float:none;
		margin:0 10px 0 -10px;
	}

	.button{
		margin-right:20px;

		&:last-child{margin-right:0;}
	}
}

a.wpjam-button{text-decoration:none;}

div.summary{margin:1em 0;}

div.card.response,
.widefat td{
	overflow-wrap:break-word;
	word-wrap:break-word;
	word-break:break-word;
	hyphens:auto;
}

[data-tooltip],
[data-description]{
	color:#555;
	cursor:pointer;
	vertical-align:text-bottom;
}

#tooltip{
	position:absolute;
	z-index:1000000;
	color:#555;
	max-width:min(80vw, 300px);
	background-color:#ddd;
	padding:5px 10px;
	border-radius:6px;
	--arrow-left:10px;

	&:before{
		content:" ";
		position:absolute;
		left:var(--arrow-left);
		bottom:100%; border-width:5px;
		border-style:solid;
		border-color:transparent transparent #ddd transparent;
	}

	&:has(img){
		max-width:none;
		padding:0;

		&:before{display:none;}
	}
}

.modal{
	position:fixed;
	place-self:center;
	inset:0;
	z-index:100053;
	background:#fff;

	div.notice{margin:5px 0px 2px;}
}

.modal-overlay{
	background:#000;
	opacity:0.7;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:100052;
}

.modal-title{
	height:40px;
	background:#fcfcfc;
	border-bottom:1px solid #ddd;
	line-height:40px;
	font-size:1.3em;
	padding-left:20px;
	font-weight:600;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.modal-close{
	left:auto;
	right:-30px;
	color:#eee;
	position:absolute;
	width:29px;
	height:29px;
	border:0;
	padding:0;
	background:none;
	cursor:pointer;
	outline:none;

	&:after{
		content:"\f335";
		font:400 32px/29px dashicons; speak:none;
	}
}

.modal-content{
	background:#f1f1f1;
	padding:2px 25px 15px 25px;
	clear:both;
	overflow:auto;
	text-align:left;
	line-height:1.4em;

	table.form-table > tbody > tr{
		> th{width:110px;}
		> td{min-width:240px;}
	}
}

.quick-modal{
	position:fixed;
	bottom:8px;
	right:12px;
	background:#fff;
	box-shadow:0 3px 6px #0000004C;
	z-index:1000000;
}

#TB_window.modal{
	z-index:100050;
	top:0;
	left:0;

	#TB_title, #TB_ajaxWindowTitle{
		height:40px;
		line-height:40px;
		font-size:1.15em;
		padding:0 10px;
		width:inherit;
	}

	#TB_closeWindowButton{
		right:-32px;

		@media (max-width:782px){
			right:0;
			top:-30px;
		}

		.tb-close-icon{
			color:#fff;

			&:before{
				content:"\f335";
				font-size:32px;
			}
		}
	}

	#TB_ajaxContent{
		background:#f1f1f1;
		padding:2px 25px 15px 25px;

		table.form-table > tbody > tr{
			> th{
				width:110px;
				min-width:80px;

				@media (max-width:782px){width:inherit;}
			}

			> td{
				min-width:240px;

				.after, .description{padding:0;}
			}
		}
	}
}

#TB_window{
	#TB_closeWindowButton:focus .tb-close-icon{box-shadow:none;}
	#TB_caption a{text-decoration:none;}

	img{max-width:100%; height:auto;}
	img#TB_Image{margin:15px 15px 5px 15px;}
}

.wide-text{
	width:40em;

	@media (max-width:782px){width:99%;}
}

span.all-options{width:250px;}
span.large-text{width:99%;}
span.small-text{width:50px;}
span.tiny-text{width:35px;}

input:placeholder{font-size:13px;}
input.medium-text{min-width:105px; width:105px;}
input.compact-text{min-width:85px; width:85px;}
input.small-text{min-width:50px;}
input.tiny-text{min-width:35px;}
input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local]{height:28px;}

input[type=number]{
	padding-right:0;

	&.small-text{min-width:65px;}
	&.tiny-text{min-width:45px;}
}

input[type=checkbox]:indeterminate{
	display:inline-grid;
	place-items:center;

	&:before{
		content:'';
		border:1px solid grey;
		width:55%;
	}
}

.button.switch, input[type=checkbox].switch{
	display:inline-flex;
	cursor:pointer;
	width:32px;
	height:16px;
	border:0;
	border-radius:8px;
	background-color:#a7aaad;

	&:is(input[type=checkbox]){
		appearance:none;
		box-shadow:none;
	}

	&:checked, &.checked{
		justify-content:flex-end;
		background-color:#2271b1;
	}

	&:before{
		content:'';
		width:12px;
		height:12px;
		margin:2px;
		border-radius:50%;
		background-color:#ffffff;
	}
}

.expandable{
	field-sizing:content;

	&:is(input){
		min-width:30px;
		width:unset !important;
	}

	&:is(textarea){
		min-height:6em;
		max-height:24em;
	}
}

.expandable-container{
	display:flex;
	flex-direction:column-reverse;
	align-items:flex-start;

	input[type=checkbox]{
		box-shadow:none;
		width:auto;
		padding:0px 10px !important;

        &:before{
			font-family:remixicon;
			content:"展开\f2e0";
		}

		+ .inner{
			max-height:12em;
			margin-bottom:1em;
			overflow:hidden;

			.row-actions{display:none;}
		}

		&:checked{
			&:before{
				width:auto;
				margin:initial;
				content:"收起\f2ea";
			}

			+ .inner{
				max-height:none;
				margin-bottom:0;

				.row-actions{display:initial;}
			}
		}
	}
}

.wp-picker-container{
	.wp-picker-clear{min-height:30px;}

	.wp-color-result-text{color:inherit;}

	.wp-color-picker{
		margin:0 2px;

		&[data-alpha-enabled]{
			width:5rem;

			@media (max-width:782px){width:6.4rem;}
		}
	}

	&:has([data-alpha-enabled]) .iris-picker{
		.iris-picker-inner{display:flex; justify-content:space-between;}

		.iris-square{margin-right:1.5%;}
	}

	.form-table & > label{
		line-height:30px !important;
		margin:0 !important;
	}
}

form.chart-form{
	margin:1em 0;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	gap:10px;
}

div.donut-chart-wrap{
	display:flex;
	gap:40px;
	margin-bottom:20px;

	table{
		width:initial;
		border:none;
		background:none;

		thead th{border:none;}
	}
}

.sub-field{
	margin-bottom:0.8em;
	line-height:30px;

	.sub-field{margin-bottom:0;}

	> label{
		min-width:76px;
		padding-right:4px;
		font-weight:500;
		display:table-cell;
		vertical-align:top;
	}

	> :nth-child(2){
		max-width:calc(100% - 80px);
		display:table-cell;

		label{line-height:1;}
	}
}

.field-group{
	display:flex;
	flex-wrap:wrap;
	align-items:flex-start;
	gap:6px;

	.sub-field:not(:first-child) > label{min-width:initial;}
}

fieldset{
	> .field-group, > .inline{
		display:inline-flex;
		margin:0 0 .5em !important;

		&.hidden{display:none;}
	}

	> .field-group:has(> label) > *{
		margin:.35em 0 .5em !important;
	}

	> .field-group, &.mu-item.field-group{
		> label{line-height:30px !important;}

		&:is(.mu-item) > *{margin:0 !important;}
	}

	> .inline{
		line-height:1.4;
		display:inline-block;

		> label{margin-top:0 !important;}
	}

	details{
		summary{cursor:pointer;}

		&[open] summary{margin-bottom:20px;}
	}
}

span.query-label,
span.tag-label{
	display:inline-block;
	vertical-align:middle;
	box-sizing:border-box;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:0 8px 0 4px;
	background:#e5e5e5;
	border-radius:4px;
	line-height:30px;
}

span.query-label{
	span{
		line-height:30px;
		margin-right:4px;
		font-weight:100;
		cursor:pointer;
		color:#0073aa;

		&:before{content:"\f153";}
	}

	+ input, ~ .description{display:none !important;}

	input.button ~ &{margin-left:6px;}
}

span.tag-label{
	padding:0 4px 0 8px;
	cursor:move;

	.del-item{
		line-height:30px;
		margin-left:4px;
	}

	~ *{display:none;}
}

.image-radio input{
	&, + img + img{display:none;}

	~ img{
		max-width:120px !important;
		cursor:pointer;
		opacity:75%;
	}

	&:checked{
		+ img{
			display:none;
			box-shadow:0 0 10px;
		}

		~ img:last-child{
			display:initial;
			opacity:100%;
		}
	}
}

div.plupload{
	position:relative;

	&:has(div.progress) input.button{display:none;}

	div.plupload-drag-drop{
		border:4px dashed #c3c4c7;
		height:200px;
	}

	div.progress{
		height:22px;
		margin:7px 6px;
		width:200px;
		line-height:2em;
		padding:0;
		overflow:hidden;
		border-radius:22px;
		background:#dcdcde;
		box-shadow:inset 0 1px 2px rgb(0 0 0 / 10%);

		div.percent{
			z-index:10;
			position:relative;
			width:200px;
			padding:0;
			color:#fff;
			text-align:center;
			line-height:22px;
			font-weight:400;
			text-shadow:0 1px 2px rgb(0 0 0 / 20%);
		}

		div.bar{
			z-index:9;
			width:0;
			height:100%;
			margin-top:-22px;
			border-radius:22px;
			background-color:#2271b1;
			box-shadow:inset 0 0 2px rgb(0 0 0 / 30%);
		}
	}
}

div.wpjam-file,
div.wpjam-image{
	display:flex;
	gap:4px;
}

div[data-media_button] .add-media{
	display:flex;
	align-items:center;
	gap:2px;

	span:before{font-size:18px;}
}

div.wpjam-img{
	position:relative;
	cursor:pointer;
	text-decoration:none;
	display:inline-block;

	img{
		max-width:300px !important;
		max-height:300px !important;
		object-fit:cover;
	}

	img ~ .add-media,
	&:has(img) ~ .description{display:none;}
}

div.mu-img .del-item,
.del-img,
.del-img:hover,
.del-icon{
	position:absolute;
	padding:0;
	border:0;
	line-height:1;
	top:-10px;
	right:-10px;
	border-radius:10px;
	color:#ffffff;
	background:#cc3333;
	text-decoration:none;
	opacity:0.8 !important;
	cursor:pointer;
}

.readonly, .disabled{
	.mu-item:last-child, .button, .dashicons{display:none !important;}
}

.mu-item{
	> .button{margin:0 6px;}

	> .new-item ~ .del-item{display:none;}

	.direction-row > &{
		> .move-item{
			font-size:20px;
			width:20px;
			height:20px;
			margin-right:2px;
		}

		.del-item:before{cursor:pointer;}
	}

	.sortable > &{
		> .move-item{
			opacity:0.2;
			width:30px;
			height:30px;
			font-size:30px;
			cursor:move;
		}

		&:hover > .move-item{opacity:0.8 !important;}
		&:has(> .new-item) > .move-item{display:none;}
	}

	div.mu-text > &,
	div.mu-image > &,
	div.mu-file > &{
		display:flex;
		align-items:center;
	}
}

div.mu-text{
	&.max-reached > .mu-item:last-child{
		input, select{display:none;}

		.button{margin-left:0px;}
	}

	&.direction-row{
		gap:8px 4px;
		min-width:400px;
		max-width:700px;

		> .mu-item{
			&:last-child input{display:none;}

			 input{
			 	padding-right:20px !important;

			 	+ .del-item{
			 		padding:0;
			 		border:0;
			 		margin-left:-24px;
			 		margin-right:4px;
			 	}

			 	+ .button{margin-left:0px;}
			 }
		}
	}

	&:has(.tag-input){
		display:inline-flex;
		flex-wrap:wrap;
		align-items:center;
		gap:4px;
		line-height:30px;
		padding:4px;
		box-shadow:0 0 0 transparent;
		border-radius:4px;
		border:1px solid #8c8f94;
		background-color:#fff;
		color:#2c3338;

		&:hover{
			border-color:#2271b1;
			box-shadow:0 0 0 1px #2271b1;
			outline:2px solid transparent;
		}

		span.query-label{
			display:flex;
			flex-direction:row-reverse;
			line-height:20px;
			padding:0 4px 0 8px;
			border-radius:1px;

			span{
				line-height:20px;
				margin-right:0;
				margin-left:2px;

				&:before{content:"\f335";}
			}
		}
	}

	input.tag-input{
		&, &:focus{
			border:0;
			box-shadow:none;
			height:20px;
			min-height:20px;
			padding:0;
			outline:0;
		}
	}

	span.query-label{
		cursor:move;

		~ *{display:none;}
	}
}

div.mu-fields{
	> .mu-item > .button{
		margin-left:80px;

		&.new-item,
		fieldset.mu-item > &,
		.field-group.mu-item &{margin:0;}
	}

	&[data-tag_label] > .mu-item{
		> .del-item, > .move-item, &:last-child{display:none;}
	}

	&.direction-column > .mu-item{
		padding-bottom:6px;

		&:not(.field-group){border-bottom:1px solid #E5E5E5;}

		&:last-child{border-bottom:none;}
	}

	&.direction-row > .mu-item > .button{line-height:30px;}
}

div.mu-img{
	max-width:720px;

	> .mu-item{
		width:100px;
		height:100px;
		margin:10px 10px 10px 0;
		position:relative;
		cursor:pointer;

		img{
			width:100px;
			height:100px !important;
			object-fit:cover;
		}
	}

	.new-item{
		width:100px;
		height:100px;
		margin:0;
		color:#ccc;
		border:2px solid #ccc;
		border-radius:8px;

		&:before{
			content:"\f543";
			display:block;
			line-height:100px;
			font-family:dashicons;
			font-size:32px;
			text-align:center;
		}
	}
}

div.mu-select-wrap{
	position:relative;
	display:inline-block;

	.hidden{display:none;}

	fieldset.mu-select{
		position:absolute;
		top:101%;
		left:-2px;
		overflow-y:scroll;
		background-color:#f0f0f0;
		border:1px solid #ccc;
		box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius:6px;
		z-index:10000000000;
		padding:4px 0; gap:0;

		label{
			white-space:nowrap;
			padding:4px 10px;
			margin:4px !important;

			&:hover{
				border-radius:3px;
				background:#4488FF;
				color:#FFFFFF;
			}
		}
	}

	button.selectable{
		cursor:pointer;
		white-space:nowrap;
		text-align:left;
		overflow:hidden;
		text-overflow:ellipsis;
		box-sizing:border-box;
		color:#2c3338;
		border:1px solid #8c8f94;
		border-radius:3px;
		padding:0 8px;
		min-height:30px;
		background:#fff;

		&:after{
			content:"\f347";
			display:inline-block;
			width:16px;
			height:16px;
			margin-left:10px;
			font-size:16px;
			font-family:dashicons;
			vertical-align:middle;
		}

		&:focus, &:hover{
			border-color:#2271b1;
			color:#0a4b78;
			box-shadow:0 0 0 1px #2271b1;
		}
	}
}

form table.form-table{
	tr > td:only-child{padding:15px 10px 15px 0;}

	th a, td a{text-decoration:none;}

	td{
		.before{
			margin:0px;

			p&{margin-bottom:4px;}

			span&{margin-right:4px;}
		}

		.after{
			margin:0px;

			p&{margin-top:4px;}

			span&{margin-left:4px;}
		}

		.description{font-size:13px;}

		fieldset{
			label.hidden{display:none}

			.after, .description{margin-bottom:0.5em;}
		}

		select{field-sizing:content;}

		label:has(input:not([type=hidden]):not(.regular-text):not([type=checkbox])) + .description,
		input:not([type=hidden]):not(.regular-text) + .description{
			display:inline-block;
			margin-left:6px;
		}
	}
}

table.wp-list-table{
	&.striped > tbody > :nth-child(even){background-color:#ffffff;}

	th, &.nowrap td{white-space:nowrap;}

	&.nowrap td{
		overflow:hidden;
		text-overflow:ellipsis;

		&.is-truncated:hover{overflow:visible; white-space:normal;}
	}

	th a{display:flex;}

	th.check-column{
		.dashicons{
			margin-left:6px;
			color:#999;
			font-size:16px;
			width:16px;
			height:16px;
		}

		.spinner{
			margin:4px 0 0 0;

			+ input{display:none;}
		}

		.pending &{
			border-left:4px solid #0073aa;

			input{margin-left:4px;}
		}

		.unapproved &{
			border-left:4px solid #d63638;

			input{margin-left:4px;}
		}

		.rejected &{
			border-left:4px solid #aa0000;

			input{margin-left:4px;}
		}
	}

	th.column-no{width:42px;}

	.pending{
		th, td{background-color:#f0f6fc;}
	}

	.unapproved{
		th, td{background-color:#fcf9e8;}
	}

	.approve a, .audit a, .publish a{color:#007017;}

	.unapprove a, .unpublish a{color:#996800;}

	.dashicons, .dashicons-before:before, [class*=" ri-"], [class^=ri-]{
		width:16px;
		height:16px;
		font-size:16px;
	}

	td pre{
		white-space:pre-wrap;
		max-width:800px;
		margin-top:0;
	}

	td img.alignleft{
		margin-right:10px;
		margin-top:1px;
	}

	a.ui-sortable-handle{cursor:move;}

	tr.ui-sortable-helper, tr.ui-sortable-placeholder{background:#eeffee;}

	tbody tr{
		&:nth-child(1 of tr:has(span.move)) span.up,
		&:nth-last-child(1 of tr:has(span.move)) span.down,
		&:nth-child(1 of tr:has(span.move)):nth-last-child(1 of tr:has(span.move)) span.move,
		&:first-of-type span.up,
		&:last-of-type span.down,
		&:only-of-type span.move{display:none;}
	}

	&.sticky-columns{
		display:block;
		max-height:calc(100vh - 160px);
		overflow:scroll;

		.sticky-column{
			position:sticky;
			z-index:2;
			background-color:inherit;
		}

		thead, tfoot{
			position:sticky;
			z-index:3;
			top:0;

			tr{
				background:#ffffff;
			}
		}

		tfoot{bottom:0px;}

		tr.summary-row{
			position:sticky;
			z-index:3;
			top:36px;
		}
	}

	.wpjam-thumbnail-wrap{
		position:relative;

		&:focus{
			outline:0;
			box-shadow:none;
		}

		img, .no-thumbnail{
			float:left;
			margin:0px 10px 10px 0;
			border-radius:4px;
			border:1px solid #eee;
		}

		.no-thumbnail{
			display:inline-block;
			text-align:center;
			font-size:12px;
			font-weight:100;
			width:50px;
			height:50px;
			line-height:50px;
			background:#eee;
			color:#555;
		}

		&[data-action]:hover:after{
			content:"\f464";
			font-size:16px;
			font-family:dashicons;
			padding:2px;
			line-height:1;
			top:-4px;
			right:6px;
			position:absolute;
			border-radius:10px;
			color:#fff;
			background:#2271b1;
			opacity:0.8;
		}
	}

	div.items{
		span.row-actions > span{margin:0 3px;}

		&.image-list{
			display:flex;
			flex-wrap:wrap;

			.item{
				display:flex;
				flex-direction:column;
				margin:10px 30px 20px 0;
				position:relative;
				text-align:center;

				span.item-title,
				span.row-actions{
					display:inline-block;
					width:100%;
					font-size:smaller;
					overflow:hidden;
					white-space:nowrap;
					text-overflow:ellipsis;
				}
			}

			.add-item{
				margin:10px 0px 20px 0;
				background:#f9f9f966;
				border-radius:4px;
				border:1px solid #ccc;
				box-sizing:border-box;
				display:grid;
				place-items:center;

				> .dashicons-plus-alt2{
					font-size:24px;
					width:24px;
					height:24px;
					color:#ccc;
				}

				.striped > tbody > :nth-child(odd) &{background:#ffffff66;}
			}
		}

		&.text-list .item{
			display:flex;
			margin-bottom:10px;
			max-width:400px;

			> a{
				display:inline-block;
				width:150px;
				overflow:hidden;
				white-space:nowrap;
				text-overflow:ellipsis;
				margin-right:10px;
				vertical-align:middle;
			}

			a.del-icon{
				top:inherit;
				right:inherit;
			}
		}
	}

	div.news-items{
		width:360px;
		box-shadow:1px 1px 10px #CCC;
		border-radius:4px;
		margin-bottom:10px;

		div.news-item:first-child:nth-last-child(1){
			position:inherit;
			padding-bottom:12px;

			span.news-item-title{
				color:inherit;
				background:inherit;
				position:inherit;
				display:block;
			}
		}

		div.big{
			position:relative;

			span.news-item-title{
				font-size:16px;
				color:#fff;
				padding:12px;
				box-sizing:border-box;
				width:100%;
				bottom:0;
				left:0;
				background:linear-gradient(180deg,transparent,rgba(0,0,0,.6));
				position:absolute;
			}

			span.news-item-excerpt{
				display:block;
				box-sizing:border-box;
				width:100%;
				padding:12px;
			}

			span.item-thumb{
				width:360px;
				height:150px;
				overflow:hidden;

				img{border-radius:4px;}
			}
		}

		div.small{
			padding:12px 12px 0 12px;
			display:flex;
			flex-direction:row-reverse;
			justify-content:space-between;
			width:100%;
			box-sizing:border-box;

			span.news-item-title{
				width:260px;
				height:60px;
				display:flex;
				align-items:center;
				padding-bottom:12px;
				font-size:14px;
				border-bottom:1px solid #DDD;

				div.small:last-child &{border-bottom:0;}
			}

			span.item-thumb{
				width:60px;
				height:60px;
				overflow:hidden;
			}
		}
	}

	@media(min-width:783px){
		.row-action{
			td &{display:none;}

			td:hover &{display:initial;}
		}
	}
}

.tablenav{
	&.top:has(.actions){
		height:auto;
		margin:0;
	}

	.actions{
		> *{
			float:left;
			margin:0 6px 8px 0;
		}

		> .overall-action{margin:0 10px 8px 0px;}

		&:not(.alignleft) > #filter_action{margin-right:16px;}

		.direction-row{
			gap:6px;

			select{
				float:none;
				margin-right:0;
			}
		}
	}

	.prev-day, .next-day{
		font-size:16px;
		line-height:1.625;
		color:initial;
		border-color:#8c8f94;
	}
}

input.current-page{
	padding:0 8px;
	width:30px;
	-moz-appearance:textfield;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button{
		-webkit-appearance:none;
		margin:0;
	}
}

.layout-calendar{
	.tablenav.top{text-align:center;}

	.tablenav-pages a.current-month{
		padding-left:20px;
		padding-right:20px;
	}

	h2{
		font-size:2em;
		display:inline-block;
		margin:0 0 10px 0;
		line-height:30px;
	}

	table{
		width:100%;
		margin:20px 0;

		&.striped > tbody > tr{background-color:#ffffff;}

		.column-day0, .column-day6{background:#f6f7f7;}

		a{text-decoration:none;}

		th{
			font-size:larger;
			font-weight:bold;
		}

		td, th{
			border-right:1px solid #c3c4c7;
			border-bottom:1px solid #c3c4c7;
		}

		td:last-child, th:last-child{border-right:none;}

		tfoot th{border-bottom:none;}

		td{
			.date-meta{min-height:24px;}

			span.day{
				display:inline-block;
				width:20px;
				height:20px;
				line-height:20px;
				text-align:center;

				&.today{
					color:#fff;
					border-radius:10px;
					background:red;
				}
			}

			a.list-table-action{
				display:none;

				td:hover &{display:inline-block;}
			}
		}
	}
}

div#col-left{
	.tablenav .tablenav-pages{float:none;}

	.left-item{
		cursor:pointer;

		&.left-current{
			background-color:#f0f6fc;
			color:#3c434a;
		}
	}

	span.left-pagination-links{
		display:flex;
		gap:4px;
		align-items:center;
	}

	td{
		padding-left:14px;
		padding-right:20px;

		a:focus{box-shadow:inherit;}

		span.time{font-size:smaller;}

		span.count{
			font-size:smaller;
			float:right;
			padding:2px 4px;
			margin-left:4px;
		}
	}

	@media(min-width:783px){
		&:has(table){width:25%;}

		&:has(table) ~ #col-right{width:75%}
	}
}

div.tabs .nav-tab-wrapper{
	ul, li{margin:0;}

	li > a:focus{box-shadow:none;}

	li.ui-tabs-active > a{
		border-bottom:1px solid #f0f0f1;
		box-shadow:none;
		margin-bottom:-1px;
		background:none !important;
		color:#000;
	}

	li.ui-state-hover > a{
		background-color:#fff;
		color:#3c434a;
	}
}

div#poststuff{
	#normal-sortables{min-height:0;}

	div#postexcerpt div.inside p{display:none;}

	div.postbox{
		table.form-table{
			th{
				padding:12px 10px 12px 0;
				width:120px;
			}

			td{padding:6px;}
		}

		&.tabs table.form-table th{width:100px;}

		.nav-tab-wrapper{
			padding-bottom:0;
			border-color:#ddd;

			li > a{
				background:#f3f5f6;
				border-color:#ddd;
			}

			li.ui-tabs-active > a{
				background:#fff;
				border-bottom-color:#fff;

				div.closed &{border-bottom-color:#ddd;}
			}
		}
	}
}

.welcome-panel.wpjam-welcome-panel{
	background:#fff;

	&:before{display:none;}

	h2{
		font-size:32px;
		color:initial;
	}

	.welcome-panel-content{min-height:initial;}

	.welcome-panel-column-container{margin:0;}
}

@media screen and (max-width:782px){
	input[type=text],
	input[type=date],
	input[type=datetime],
	input[type=datetime-local]{height:40px;}
	input:placeholder{font-size:15px;}
	input.hidden{display:none !important;}
}

@media screen and (min-width:783px){
	#adminmenu{
		.awaiting-mod, .update-plugins{
			line-height:18px;
			transform:scale(0.92);
		}
	}

	.post-com-count-pending{
		line-height:20px !important;
		height:20px !important;
		left:-6px !important;
		border-radius:12px !important;
		min-width:10px !important;
		transform:scale(0.833333);
	}

	div.wrap:has(p.search-box) ul.subsubsub{
		max-width:calc(100% - 280px);
	}
}
